<div class="about-title">
  <div class="social">
    <div class="social text-center">
      <FONT COLOR="#FFFFFF">
        <h3> We are looking to foster a platform connecting everyone's nonsense
          from different parts of the world.

          <h2> We care about your nonsense more than anything else. Seriously. </h2>


          <h2> Feel free to connect with us via social media below!</h2>

          <hr class="short-underline">
        </h3>
      </FONT>

      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "http://www.facebook.com" do %>
      <%= fa_icon 'facebook-square 4x',class: 'icon-settings' %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "http://www.instagram.com" do %>
      <%= fa_icon 'instagram 4x',class: 'icon-settings' %>
      <% end %>
    </div>
  </div>





</div>
