<div class="about-title">
<div class="social">
    <div class="social text-center">
<h3> We are a team of enthusiast looking to foster a platform connecting people
  of the same channel from different parts of the world.
  We believe open sharing information space will be able to benefit everyone.

<h2> Connect with us via social media below!</h2>

<hr class="short-underline">
</h3>

&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "http://www.facebook.com" do %>
  <%= fa_icon 'facebook-square 4x',class: 'icon-settings' %>
  <% end %>
&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "http://www.instagram.com" do %>
  <%= fa_icon 'instagram 4x',class: 'icon-settings' %>
  <% end %>
 </div>
</div>





</div>
