<div class="comments index" id="comments" data-id="<%= @post.id %>">
  <% @comments.each do |comment| %>
  <%= render partial: "comment", locals: { comment: comment, post: @post, topic: @topic } %>
  <% end %>
</div>

<div class="text-center">
  <%= paginate @comments %>
</div>


<div class="button text-center", id="comments-form-container">
  <%= render partial: "create_form", locals: { comment: @comment, post: @post, topic: @topic } %>
</div>
