@import "font-awesome";

// @font-face {
//    font-family: 'Nunito Bold.ttf';
//    src: url('/assets/Nunito Bold.ttf');
//    font-family: 'Nunito Light.ttf';
//    src: url('/assets/Nunito Light.ttf');
//    font-family: 'Nunito Regular.ttf';
//    src: url('/assets/Nunito Regular.ttf');
// }

.landing {
  .background {
    height: calc(100vh-52px);
    background-image: asset-url("studio.jpg");
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.85;
  }

  .welcome-content {
    max-width: 800px;
    margin-left: 600px;
    margin-top: 50px;
  }

  .strong {
    font-weight: 700;
  }

  .what-content {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .container {
    position: relative;
    text-align: center;
    max-width: 970px;

  }

  // .background-2 {
  //   background-color: #000000;
  //
  //   height: 50vh;
  //   width: 100%;
  //   background-position: 50% 50%;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //
  //   & body {
  //     color: white;
  //   }
  // }

  .features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;
    justify-content: center;
  }

  .feature {
    flex: 0 0 280px;
    margin: 20px 10px;
  }

  .icon-settings {
    color: #000000;
    font: 50;
  }

  .image-container {
    margin-top: 50px;
    margin-bottom: 30px; 
  }

  .image-box{
    width:100%;
  }

  .image {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-setting{
    flex: 0 0 25%;
    position: relative;

    &:hover {
      .yellow-layout {
        opacity: 1;
        transition: all 0.5s;
        background-color: rgba(0,0,0,0.5);
      }
    }
  }

  .yellow-layout {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .layout-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 1199px) {
    .features {
      max-width: 600px;
    }
    .image-setting {
      flex: 0 0 50%;
    }
  }

  @media all and (max-width: 600px) {
    .image-setting {
      flex: 0 0 100%;
    }
  }

  .short-underline {
    width: 50px;
    border-bottom: 2px solid black;
  }

  // .white {
  //   color: #fff;
  //   transition: all 0.2s;
  // }

  .font {
      font-size: 28px;
      line-height: 58px;
      color: black;
      font-family: 'Nunito';
  }

  .font18 {
      font-size: 18px;
      line-height: 58px;
      color: black;
      font-family: 'Nunito';
  }

  .font38 {
    font-size: 48px;
    line-height: 58px;
    color: white;
    font-family: 'Nunito';
  }

  .top340 {
    margin-top: 140px;
  }
}
