.center {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 80px;
}

.centering {
width: 100%;
padding: 0 40px;
max-width: 800px;
margin: 50px 50px 50px 50px;
border: 4px solid black;

}

.hidden {
  display: none;
}
