.center {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: 200px;
padding: 50px;
border: 2px solid turquoise;
text-align: center;
}

.centering {
flex: 0 0 400px;
margin: 30px;
padding: 50px;
border: 2px solid turquoise;
text-align: center;
border-radius: 25px;
width: 30%;
height: 30%;

}


//terrence's


//outer {
