.topics-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 80px;
}

.boxed-1 {
  border-radius: 25px;
  border: 2px solid turquoise;
  padding: 50px;
  width: 30%;
  height: 30%;
  margin: 30px;
  text-align: center;
  flex: 0 0 400px
}
